/* get more snippets at https://github.com/kmaasrud/awesome-obsidian */
/* author: https://forum.obsidian.md/u/echo */
/* source: https://forum.obsidian.md/t/meta-post-common-css-hacks/1978/175 */

.popover.hover-popover {
  transform: scale(0.8); /* makes the content smaller */
  max-height: 800px;
  min-height: 50px;
  width: 500px;
  overflow: overlay; /* new added */
}

.popover.hover-popover .markdown-embed {
  height: 100%;
}

.popover.hover-popover.is-loaded
  .markdown-embed
  .markdown-embed-content
  .markdown-preview-view {
  padding: 10px 10px 10px 16px; /*16px  two pop magin */
}
