/* get more snippets at https://github.com/kmaasrud/awesome-obsidian */
/* author: https://forum.obsidian.md/u/boyd/summary */
/* source: https://forum.obsidian.md/t/meta-post-common-css-hacks/1978/25 */

.cm-s-obsidian,
.markdown-preview-view {
  text-align: justify;
  hyphens: auto;
}
