/* get more snippets at https://github.com/kmaasrud/awesome-obsidian */
/* author: https://github.com/TClark1011 */
/* source: https://github.com/kmaasrud/awesome-obsidian */

img {
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: var(
    --background-secondary
  ); /* Background color so PNGs with transparent backgrounds don't look weird */
}
