/* get more snippets at https://github.com/kmaasrud/awesome-obsidian */
/* author: https://forum.obsidian.md/u/Shamama & https://forum.obsidian.md/u/wonton/summary & https://github.com/konhi */
/* source: https://forum.obsidian.md/t/meta-post-common-css-hacks/1978/112 */

.outline .tree-item-children {
  margin-left: 20px;
  border-left: 1px solid var(--background-modifier-border);
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
}
.outline .tree-item-children:hover {
  margin:0 !important;
  border-left-color: var(--background-modifier-border);
}
.nav-folder-children .nav-folder-children {
  margin-left: 20px;
  padding-left: 0;
  border-left: 1px solid var(--background-modifier-border);
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
}
.nav-folder-children .nav-folder-children:hover {
  margin:0 !important;
  border-left-color: var(--background-modifier-border);
}