/* get more snippets at https://github.com/kmaasrud/awesome-obsidian */
/* author: https://forum.obsidian.md/u/rsdimitrov */
/* source: https://forum.obsidian.md/t/meta-post-common-css-hacks/1978/10 */

/* Make subtler folding gutter arrows */
.CodeMirror-foldgutter-folded:after,
.CodeMirror-foldgutter-open:after {
  opacity: 0.5;
  font-size: 60%;
}

.CodeMirror-foldgutter-folded:hover:after,
.CodeMirror-foldgutter-open:hover:after {
  opacity: 1;
}

.CodeMirror-foldgutter-folded:after {
  content: "\25BA";
}

.CodeMirror-foldgutter-open:after {
  content: "\25BC";
}
